<section class="flex flex-col items-center">
  <div class="navbar bg-base-100 shadow-sm mb-6 rounded-box items-center">
    <div class="navbar-start">
      <!-- <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>

        <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[50] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a routerLink="/" class="btn btn-ghost" routerLinkActive="text-secondary">Inicio</a>
        </li>
        <li>
          <a
            routerLink="/employees"
            class="btn btn-ghost"
            routerLinkActive="text-secondary font-bold"
            >Catálogo de Empleados</a
          >
        </li>
      </ul>
      </div> -->

      <a routerLink="/" class="btn btn-ghost text-xl">
        📚 Gestión <span class="text-primary"></span>
      </a>
    </div>

    <!-- Usuario normal -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 gap-1">
        <li>
          <a
            routerLink="/"
            routerLinkActive="text-secondary font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
            >Inicio</a
          >
        </li>
        <li>
          <a routerLink="/employees" routerLinkActive="text-secondary font-bold">Empleados</a>
        </li>
        <li>
          <a routerLink="/departments" routerLinkActive="text-secondary font-bold">Departamentos</a>
        </li>
      </ul>
    </div>
  </div>
</section>
