<section class="flex flex-col items-center">
  <div class="navbar bg-base-100 shadow-sm mb-6 rounded-box items-center">
    <!-- <div class="navbar-center hidden lg:flex"> -->
    <div class="flex flex-row items-center gap-4 mb-2 mt-2">
      <a routerLink="/" class="btn btn-ghost text-xl">
        Gestión <span class="text-primary"></span>
      </a>

      <ul class="menu menu-horizontal px-1 gap-1">
        <li>
          <a
            routerLink="/"
            routerLinkActive="text-secondary font-bold"
            [routerLinkActiveOptions]="{ exact: true }"
            >Inicio</a
          >
        </li>
        <li>
          <a routerLink="/employees" routerLinkActive="text-secondary font-bold">Empleados</a>
        </li>
        <li>
          <a routerLink="/departments" routerLinkActive="text-secondary font-bold">Departamentos</a>
        </li>
      </ul>
    </div>
  </div>
</section>
